Repository tarsisexistence/angular-warehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint

.lintstagedrc.json:

{
  "linters": {
    "*.{ts,js,json,md}": ["prettier --write", "git add"],
    ".*{rc, json}": "jsonlint"
  }
}

refactor: prettier matters, delete some unnecessary packages, refactor
  .huskyrc
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
  src/app/core/shared/constants/shop-rules.constants.ts
  src/app/views/user-center/shared/user-center.guards.ts
  tslint.json
Due: prettier --write, jsonlint

refactor: update budgets strategy and code refactor
  .commitlintrc.json
  .huskyrc
  .lintstagedrc.json
  angular.json
Due: prettier --write, jsonlint

fix: redid enum animation states
  src/app/core/shared/animations/toggle.animation.ts
  src/app/core/shared/constants/direction.ts
  src/app/core/shared/constants/index.ts
  src/app/core/shared/constants/shop-rules.ts
  src/app/core/shared/constants/stocklist.constant.ts
  src/app/core/shared/constants/stocklist.ts
  src/app/core/shared/constants/visibility.ts
  src/app/core/shared/enums/direction.enum.ts
  src/app/core/shared/enums/visibility-state.enum.ts
  src/app/core/shared/interfaces/direction.interface.ts
  src/app/core/shared/interfaces/index.ts
  src/app/core/shared/interfaces/visibility.interface.ts
  src/app/core/views/components/footer/footer.component.ts
  src/app/core/views/components/header/header.component.ts
  src/app/views/location/components/location-stocklist/location-stocklist.component.ts
Due: prettier --write

refactor: project title
  .huskyrc
  README.md
  package-lock.json
  package.json
  src/index.html
Due: prettier --write, jsonlint

feat(angular): add pwa support (not complete)
  .huskyrc
  angular.json
  ngsw-config.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/manifest.json
Due: prettier --write, jsonlint

feat: add new error blank, config host binding
  src/app/core/interceptors/error-handler.interceptor.ts
  src/app/views/location/components/location-stocklist/location-stocklist.component.scss
  src/app/views/location/components/location-stocklist/location-stocklist.component.ts
  todo
Due: prettier --write

refactor: location, git hook, todo
  .huskyrc
  src/app/views/location/shared/map.service.ts
  todo
Due: prettier --write, jsonlint

feat: update angular build package, fix paths which create problems
  package-lock.json
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/main/main.hmr.ts
  src/main/main.server.ts
  src/main/main.ts
Due: prettier --write

refactor: paths strategy
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/core/core.module.ts
  src/main/main.hmr.ts
  src/main/main.server.ts
  src/main/main.ts
  tsconfig.json
Due: prettier --write

refactor: manifest's short_name, SW is done
  src/manifest.json
Due: prettier --write

feat: make possibility to bootstrap simple/hmr/ssr app
  src/main/main.hmr.ts
  src/main/main.ts
  todo
Due: prettier --write

feat: add features to readme
  README.md
Due: prettier --write

feat: play with router configuration
  src/app/app.routes.ts
Due: prettier --write

feat: implement custom preloading strategy
  README.md
  package.json
  src/app/app.module.ts
  src/app/app.preload.ts
  src/app/app.routes.ts
Due: prettier --write

feat: change jpeg with webp image format
  src/app/views/home/components/home-wallpaper/home-wallpaper.component.html
  src/assets/fw183.webp
  src/index.html
  src/styles.scss
  todo
Due: none

chore: change git hook update-index with add
  .huskyrc
  todo
Due: jsonlint

refactor: return auth as simple feature module, refactor structure
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
  src/app/core/routes-entity/entities/auth.entity.ts
  src/app/core/routes-entity/entities/index.ts
  src/app/core/routes-entity/entity.ts
  src/app/core/routes-entity/routes/app.route.ts
  src/app/core/routes-entity/routes/auth.route.ts
  src/app/core/routes-entity/routes/index.ts
  src/app/views/auth/auth.module.spec.ts
  src/app/views/auth/auth.module.ts
  src/app/views/auth/auth.routes.ts
  src/app/views/auth/containers/auth/auth.component.spec.ts
  src/app/views/auth/containers/auth/auth.component.ts
  tsconfig.json
Due: prettier --write

refactor: replace cdr with behavior subject at shop module
  package.json
  src/app/views/shop/containers/shop/shop.component.html
  src/app/views/shop/containers/shop/shop.component.ts
Due: prettier --write

refactor: replace cdr with behavior subject at header and auth modules
  src/app/core/components/header/header.component.ts
  src/app/views/auth/containers/auth/auth.component.html
  src/app/views/auth/containers/auth/auth.component.ts
  src/app/views/shop/containers/shop/shop.component.ts
Due: prettier --write

refactor: chore
  src/app/core/components/footer/footer.component.ts
  src/app/views/location/containers/location/location.component.ts
Due: prettier --write

refactor: get back update-index on post-commit
  .huskyrc
Due: jsonlint

refactor: wip cart quantities
  src/app/core/services/cart.service.ts
  src/app/core/store/actions/apparel.cart.action.ts
  src/app/core/store/effects/apparel.cart.effect.ts
  src/app/core/store/reducers/apparel.cart.reducer.ts
  src/app/core/store/selectors/cart.selectors.ts
  src/app/views/shop/shared/interfaces/cart-apparel.interface.ts
  todo
Due: prettier --write

feat: stable cart state addApparel slice
  src/app/core/services/cart.service.ts
  src/app/core/store/actions/apparel.cart.action.ts
  src/app/core/store/effects/apparel.cart.effect.ts
  src/app/core/store/reducers/apparel.cart.reducer.ts
Due: prettier --write

refactor: chore
  src/app/app.preload.ts
  src/app/app.routes.ts
  src/app/views/shop/containers/shop/shop.component.ts
Due: prettier --write

refactor: cart module as plain feature module
  src/app/app.routes.ts
  src/app/core/core.module.ts
  src/app/core/routes-entity/routes/app.route.ts
  src/app/views/cart/cart.module.ts
  src/app/views/cart/cart.routes.ts
  src/app/views/cart/containers/cart/cart.component.spec.ts
  tsconfig.json
Due: prettier --write

refactor: cart service, invoke error, etc
  backend/src/index.js
  src/app/core/apollo/services/apollo.service.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/services/cart.service.ts
  src/app/core/store/effects/apparel.cart.effect.ts
  src/app/core/store/reducers/apparel.cart.reducer.ts
  src/app/views/cart/containers/cart/cart.component.ts
  todo
Due: prettier --write

refactor: add more semantic to action types
  src/app/core/store/actions/apparel.cart.action.ts
  src/app/core/store/actions/apparel.shop.action.spec.ts
  src/app/core/store/actions/apparel.shop.action.ts
  src/app/core/store/actions/router.action.ts
  src/app/core/store/actions/user.auth.action.ts
  src/app/core/store/effects/apparel.cart.effect.ts
  src/app/core/store/effects/apparel.shop.effect.ts
  src/app/core/store/reducers/apparel.cart.reducer.ts
  src/app/core/store/reducers/apparel.shop.reducer.spec.ts
  src/app/core/store/reducers/apparel.shop.reducer.ts
Due: prettier --write

feat: create new action Cart Clear Apparel
  src/app/core/store/actions/apparel.cart.action.ts
  src/app/core/store/effects/apparel.cart.effect.ts
  src/app/core/store/reducers/apparel.cart.reducer.ts
  src/app/views/cart/containers/cart/cart.component.ts
Due: prettier --write

chore: update todo
  todo
Due: none

feat: short paths for barrel files
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
  src/app/core/store/actions/apparel.shop.action.spec.ts
  src/app/core/store/reducers/apparel.shop.reducer.spec.ts
  src/app/views/auth/auth.module.ts
  src/app/views/auth/containers/auth/auth.component.spec.ts
  src/app/views/auth/containers/auth/auth.component.ts
  src/app/views/cart/cart.module.ts
  src/app/views/cart/containers/cart/cart.component.spec.ts
  src/app/views/cart/containers/cart/cart.component.ts
  src/app/views/shop/containers/shop/shop.component.ts
  src/app/views/shop/shop.module.ts
  src/app/views/user-center/containers/user-center/user-center.component.spec.ts
  src/app/views/user-center/containers/user-center/user-center.component.ts
  src/app/views/user-center/shared/user-center.guards.ts
  todo
  tsconfig.json
Due: prettier --write

chore: delete some store files
  src/app/core/store/actions/apparel.shop.action.spec.ts
  src/app/core/store/effects/apparel.shop.effect.spec.ts
  src/app/core/store/reducers/apparel.shop.reducer.spec.ts
Due: prettier --write

feat(package): add snyk, some refactor
  README.md
  package-lock.json
  package.json
  todo
  tsconfig.json
  tslint.json
Due: prettier --write

feat(package): add tslint-config-security and fix 2 vulnerabilities
  package-lock.json
  package.json
  tslint.json
Due: prettier --write

feat(package): add perfume.js
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/core/core.module.ts
  todo
Due: prettier --write

refactor(package): update packages and fix vulnerabilities
  package-lock.json
Due: prettier --write

refactor(footer): attrs
  src/app/core/components/footer/footer.component.html
Due: none

chore(package): add snyk config and update deps
  .snyk
  package-lock.json
  package.json
Due: prettier --write

chore(package): update lock file
  package-lock.json
Due: prettier --write

chore(editorconfig): add
  .editorconfig
Due: none
