Repository tarsisexistence/angular-warehouse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint

chore(deps): update dependency karma-coverage-istanbul-reporter to v2.1.1
  package-lock.json
  package.json
Due: none

refactor: project name
  package.json
Due: none

chore(deps): update dependency prettier to v1.19.1
  package-lock.json
  package.json
Due: none

chore(deps): update dependency protractor to v5.4.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ts-node to v8.6.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @abraham/reflection to v0.7.0
  package-lock.json
  package.json
Due: none

fix(deps): update dependency @nguniversal/module-map-ngfactory-loader to v8.2.6
  package-lock.json
  package.json
Due: none

fix(deps): update dependency rxjs to v6.5.4
  package-lock.json
  package.json
Due: none

chore(package): add tslib
  package-lock.json
  package.json
Due: none

chore: commit migration
  angular.json
  package-lock.json
  package.json
  src/app/core/store/selectors/router.selectors.ts
  src/app/hub/app.routes.ts
  src/app/hub/preloading/index.ts
  src/assets/.gitkeep
  src/configs/tsconfig.app.json
  src/configs/tsconfig.server.json
  src/configs/tsconfig.spec.json
  src/typings/external.d.ts
Due: prettier --write

chore: commit migration2
  package-lock.json
  package.json
Due: none

chore: commit migration3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency tslint to v5.20.1
  package-lock.json
  package.json
Due: none

chore: commit migration4
  angular.json
  package.json
  src/app/core/components/footer/footer.component.ts
  src/app/core/components/header/header.component.ts
  src/app/shared/dialogs/info/info.component.ts
  src/app/shared/dialogs/payment/payment.component.ts
  src/app/shared/modules/material.module.ts
  src/app/shared/shared.module.ts
  src/app/views/auth/auth.module.ts
  src/app/views/auth/containers/auth/auth.component.ts
  src/app/views/cart/containers/cart/cart.component.ts
  src/browserslist
  src/configs/tsconfig.app.json
  src/configs/tsconfig.spec.json
  src/helpers/polyfills.ts
  src/karma.conf.js
  src/main.hmr.ts
  src/main.server.ts
  src/main.ts
  src/polyfills.ts
  src/test.ts
  src/tsconfig.app.json
  src/tsconfig.server.json
  src/tsconfig.spec.json
  src/typings.d.ts
  src/typings/external.d.ts
Due: prettier --write

chore: commit migration5
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write

chore: remove perfume, rename scripts
  README.md
  package.json
  src/app/core/core.module.ts
Due: prettier --write

fix: ivy errors
  package-lock.json
  package.json
  src/app/views/cart/containers/cart/cart.component.html
Due: none

fix(deps): update dependency uuid to v3.4.0
  backend/package-lock.json
  backend/package.json
Due: none

chore(deps): update dependency husky to v4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @angular-devkit/build-optimizer to v0.900.2
  package-lock.json
  package.json
Due: none

fix(deps): update dependency routeshub to v4.1.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/jasmine to v3.5.5
  package-lock.json
  package.json
Due: none

chore: remove pretty-quick
  package-lock.json
  package.json
Due: none

chore(deps): update dependency pretty-quick to v2
  package-lock.json
  package.json
Due: none

fix(deps): update angularmaterial monorepo to v9.0.1
  package-lock.json
  package.json
Due: none

fix(deps): update angular monorepo to v9.0.2
  package-lock.json
  package.json
Due: none

chore(deps): update angularcli monorepo
  package-lock.json
  package.json
Due: none

refactor: update ui
  src/app/core/apollo/queries/apparel.query.ts
  src/app/views/shop/components/shop-apparels/shop-apparels.component.scss
Due: prettier --write

chore: add secret dir, add assets data, update lock file
  backend/.gitignore
  backend/assets/apparel.json
  backend/package-lock.json
Due: none

fix: refresh backend (mongoose configuration, apparel model)
  backend/src/index.js
  backend/src/models/apparel.schema.js
  backend/src/models/index.js
  backend/src/resolvers/apparel.js
  backend/src/type-defs/apparel.js
Due: prettier --write

fix(deps): update apollo graphql packages
  backend/package-lock.json
  backend/package.json
Due: none

fix(deps): update dependency mongoose to v5.9.1
  backend/package-lock.json
  backend/package.json
Due: none

chore: refresh backend
  backend/.gitignore
  backend/src/index.js
  backend/src/models/apparel.schema.js
  backend/src/models/index.js
  backend/src/resolvers/apparel.js
  backend/src/type-defs/apparel.js
Due: prettier --write

chore: update dependencies
  backend/.babelrc
  backend/package-lock.json
  backend/package.json
  backend/yarn.lock
Due: jsonlint

chore: update client side
  package-lock.json
  src/app/core/apollo/queries/apparel.query.ts
  yarn.lock
Due: prettier --write

fix(backend): colors prop in schema
  backend/src/models/apparel.schema.js
Due: prettier --write

fix(deps): update dependency graphql to v14.6.0
  package.json
  yarn.lock
Due: none

fix(deps): update ngrx monorepo to v8
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/googlemaps to v3.39.3
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.{ts,js,md}
  jsonlint: any of: .*{rc,json}
